<template name="item">

    <div class="ui grid">

        <div class="ui secondary vertical menu column four wide">
            <a submenu="view" class={{submenuClass "view"}}>
                <i class="cube icon"></i> View
            </a>
            <a submenu="list" class={{submenuClass "list"}}>
                <i class="list layout icon"></i> List
            </a>
            {{#if currentUser}}
            <a submenu="create" class={{submenuClass "create"}}>
                <i class="add circle icon"></i> Create
            </a>
            {{/if}}
        </div>
        <div class="column twelve wide">
            {{> insertItemForm}}
        </div>

    </div>

</template>


<template name="viewItem">
    <h3>Item</h3>

    {{#with item}}
        <h4>{{labelify id}}</h4>
    {{/with}}
</template>


<template name="listItems">

    <table class="ui table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    <i class="icon thumbs up"></i>
                </th>
                <th>
                    <i class="icon thumbs down"></i>
                </th>
                <th>
                    Creator
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr item="{{_id}}">
                <td>{{labelify id}}</td>
                <td>{{for}}</td>
                <td>{{against}}</td>
                <td>{{creator}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</template>

<template name="insertItemForm">
  {{> quickForm collection="ItemCollection" id="insertItemForm" type="insert"}}
</template>