


<template name="insertItemForm">
    {{#if collection "item"}}
        {{> quickForm collection="ItemCollection" id="insertItemForm" type="insert" omitFields="creator,votesFor,votesAgainst,accepted"}}
    {{/if}}

    {{#if collection "monster"}}
        {{> insertMonsterForm}}
    {{/if}}

    {{#if collection "spell"}}
        {{> insertSpellForm}}
    {{/if}}
</template>


<template name="insertItemHelp">

    <div class="ui styled fluid accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            Item id
        </div>
        <div class="active content">
            <p>The ID is the item name players will see in game. Must be unique.</p>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Category
        </div>
        <div class="content">
            <p>The item category the item belongs to.</p>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>
            Description
        </div>
        <div class="content">
            <p>A short description of the item that will be displayed in the item tooltip.</p>
        </div>
    </div>

    {{> accordion}}
</template>