<template name="main">

    <div class="pusher">
        <div class="full-height">
            <div class="main container">

                <div class="ui secondary pointing menu">
                    <a category="monster" class="item">
                        <i class="icon spy"></i> Monster
                    </a>
                    <a category="item" class="item">
                        <i class="icon bar"></i> Item
                    </a>
                    <a category="spell" class="item">
                        <i class="icon bomb"></i> Spell
                    </a>

                    <div class="right menu">
                        <a class="ui item">
                            Logout
                        </a>
                    </div>
                </div>

                {{#if category}}
                    {{> general}}
                {{/if}}

            </div>
        </div>
    </div>

</template>