<template name="main">

    <div class="main">
        <h1>Creator</h1>

        <div class="ui secondary pointing menu">
            <a category="monster" class="item">
                <i class="icon spy"></i> Monster
            </a>
            <a category="item" class="item">
                <i class="icon bar"></i> Item
            </a>
            <a category="spell" class="item">
                <i class="icon bomb"></i> Spell
            </a>

            <div class="right menu">
                <a class="ui item">
                    Logout
                </a>
            </div>
        </div>

        {{#if category "monster"}}
            {{> monster}}
        {{/if}}

        {{#if category "item"}}
            {{> item}}
        {{/if}}

        {{#if category "spell"}}
            {{> spell}}
        {{/if}}


    </div>

</template>