
// Items
.itemlink:before
    content:"["

.itemlink:after
    content:"]"

// Skills
.skillLink:before
    content:"<"

.skillLink:after
    content:">"

.skillLink
    color:limegreen


// Spells
.spellLink:before
    content:"("

.spellLink:after
    content:")"

.spellLink
    color: green


.junk
    color: gray
.material
    color: chocolate
.consumable
    color: lightblue
.weak
    color: thistle
.sturdy
    color: darkorange
.terrific
    color: red
.exemplary
    color: purple