.login-container
    width: 200px
    margin: 100px auto
    background: silver
    padding: 5px;
    border: 1px solid;

    >div
        text-align:center

    h4
        width: 100%
        text-align:center

    input
        display:block
        margin: 5px auto
        padding: 5px