table.ui.table.clickable
    tr

        &:hover
            background-color: #eee
            cursor: pointer




.ui.input > .ui.right.corner.label
    right:0 !important;
    left: initial !important;


.autoform-array-item
    h4.ui.top.attached.header
        display:none